.calculator {
    margin-top: 100px;
    float: left;
    width: 720px;
}

.calculator table {
    margin: auto;
}

.result {
    text-align: center;
    margin-top: 15px;
}

.rf-dg {
    background-color: transparent !important;
}